sharding:
  configDB: {{ replname }}/{{ confighosts | join(',') }}
systemLog:
  destination: file
  path: "/data/mongolog/mongos.log"
  logAppend: true
  logRotate: rename
net:
  port: {{ mongosport }}
{% if auth == 'enable' %}
security:
  keyFile: "{{ keyfile }}"
  clusterAuthMode: "keyFile"
{% endif %}
processManagement:
  fork: true
