sharding:
  clusterRole: shardsvr
replication:
  replSetName: {{ primary }}
systemLog:
  destination: file
  logAppend: true
  logRotate: rename
  path: {{ loghome }}/mongod.log
processManagement:
  fork: true
net:
  bindIp: {{ ansible_default_ipv4['address'] }}
  port: {{ primaryport }}
  http:
    enabled: false
  maxIncomingConnections: 65535
operationProfiling:
  mode: slowOp
  slowOpThresholdMs: 100
{% if auth == 'enable' %}
security:
  keyFile: "{{ keyfile }}"
  clusterAuthMode: "keyFile"
{% endif %}
storage:
  dbPath: {{ primarydata }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ maxmem }}
      directoryForIndexes: true
#    collectionConfig:
#      blockCompressor: zlib
    indexConfig:
      prefixCompression: true
  directoryPerDB: true
